.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: .93;
}

.nav-wrap {
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100%;
    font-size: 20px;
    background-color: #000;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    grid-column: 1/-1;
}

.left-nav, .right-nav {
    display: flex;
    gap: 5rem;
}

.main_logo {
    height: 60px;
}

a {
    text-decoration: none;
    color: #fff;
    /* text-transform: uppercase; */
    font-family:'Alumni Sans','Share', Cambria, Cochin, Georgia, Times, 'Times New Roman', seriferif;
    font-weight: bold;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #000;
    justify-items: center;
    align-items: center;
    height: 280px;
}

iframe {
    height: 250px;
    width: 500px;
    align-self: center;
}

.sec {
    font-size:20px;
    font-family: 'Alumni Sans';
    color: #fff;
}

.contact {
    grid-column: 1/2
}

.copyright {
    grid-column: 2/3;
}

.copyright {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
}

.nav a:hover {
    color: gold;
}



