<div class="container">

    <div class="nav-wrap">
        <nav class="nav left-nav">
            <a routerLink="/home" >Home</a>
            <a routerLink="/about" >About</a>
            <a routerLink="/classes" >Classes</a>
        </nav>
        
        <img class="main_logo" src="assets/icons/Coffmans_Logo_Transparent.png" >
        
        <nav class="nav right-nav">
            <a routerLink="/gallery">Gallery</a>
            <a routerLink="/rules">Rules</a>
            <a routerLink="/calendar">Calendar</a>
        </nav>
    </div>
    
</div>
<router-outlet></router-outlet>

<div class="footer">
        <div class="sec contact">
            <p>Email: coffmanmartialarts@gmail.com</p>
            <p>Phone: (618) 521-3323</p>
            <p>Address:</p>
            <p>3305 E. Vienna St</p>
            <p>Anna, IL 62906</p>
        </div>
        <div class="sec copyright">
            <p>
                <span>&#169;</span>
                Coffman's Martial Arts {{ currentYear }}
            </p>
            <p>Developed by Wade Stevens </p>
        </div>
        <div class="sec creator">
            <iframe
	            src="http://maps.google.com/maps?q=coffmans+martial+arts+academy&amp;output=embed"  >
            </iframe>
        </div>
</div>