<div class="container">
    <img class="chunjido_logo" src="assets/icons/ChunJiDo_logo_Transparent.png">
    <div class="chunjido">
        <h1 class="chunjido_title">ChunJiDo</h1>
        <p>
            Founded by Grandmaster Robert Cutrell in 1996, ChunJiDo International is one of the world's 
            most prestigious martial arts organizations. Originally developed as the governing body for the art of 
            ChunJiDo, the organization has now grown to not only include the global practitioners of ChunJiDo, 
            but also affiliates in 5 continents and over 30 countries! ChunJiDo International is committed to 
            providing the highest quality of physical and mental martial arts & self-defense training in the 
            art of ChunJiDo, and affiliation with a worldwide family of diverse martial arts systems from around 
            the globe. ChunJiDo International includes many of the world’s most elite organizations, Grandmasters, 
            Masters, Instructors, and martial artists. Additionally we provide independent schools and individuals 
            with worldwide organizational opportunities, rank promotions, certifications, and other resources to 
            achieve the highest levels of success. 

        </p>
        <p class="paragraph">
            Grand Master Rober Cutrell has produced multiple local, national, and world champions.  He has 
            given seminars all over the world and has 9 world-wide Hall of Fame honors.
        </p>

    </div>
    <div class="introduction">
        <div>
            <p class="paragraph par1">Welcome! I am Master Heather Coffman, owner and instructor of Coffman's Martial Arts Academy. I am excited 
                to be able to share my knowledge and love of ChunJiDo and Tae Kwon-Do with others. I trained and was promoted 
                under Grand Master Thomas Black. I am currently studying under ChunJiDo founder Grand Master Robert Cutrell 
                and am the State Director of Chunjido International.</p> 
        </div>
            <br>
        <p class="paragraph par2">
            I have been training in the martial arts for 16+ years. 
            In that time, I have earned a 6th degree black belt in Tae Kwon-Do and a 3rd degree black belt in ChunJido.
            During my time in martial arts, I have had the honor of receiving "Instructor of the Year" through the Illinois 
            Taekwondo Association in 2012, and ""Master Instructor of the Year" through the United States Martial Arts 
            Hall of Fame in 2022.  My passion for martial arts and teaching others drove me to open Coffman's Martial 
            Arts in 2011, and it is now the largest martial arts school in Southern Illinois.</p>
            <br>
        <p class="paragraph par3">
            At Coffman's Martial Arts Academy, we view each student as a member of the family. With that said, we desire 
            commitment, a hard work ethic, and a strong will to succeed. Through training, each student is taught our 5 
            tenents: courtesy, integrity, perseverance, self-control, and indomitable spirit. We will strive to help each 
            one of our students achieve success as they mature in the arts. </p>
    </div>

</div>