.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: 'Alumni Sans';
    font-size: 25px;
    gap: 20px;
}

.paragraph {
    grid-column: 2/6;
}

.heading {
    font-size: 30px;;
}

.aside {
    grid-column: 6/8;
    grid-row: 1/3;
    margin-left: 20px;
    margin-top: 20px;
    color: blue;
}

.info {
    margin-bottom: 30px;
}

