<div class="container">
    <div class="paragraph">
        <h2>ChunJiDo</h2>
        Founded by Grandmaster Robert Cutrell in 1996 in Evansville, IN, ChunJiDo is an art 
        that combines Kempo Karate, Taekwondo, Hapkido, and Nippon Jujitsu.  It focuses on 
        sparring, self-defense, Kali, rolling and falling, and forms. The Goal of ChunJiDo 
        is to teach a structured, disciplined approach to Martial Arts and Defense Training 
        that will help develop character, confidence, and self-esteem that will assist you 
        in recognizing your full potential and successfully reaching your goals in the art of ChunJiDo.
    </div>
    <div class="paragraph">
        <h2>Tae Kwon-Do</h2>
        Artists know when to walk away and when to stand firm and protect themselves and their loved 
        ones. Every movement of Tae Kwon Do is scientifically designed with a specific purpose. Constant 
        Repetition teaches patience and how to overcome any difficulty. The tremendous power generated 
        from one’s body develops the self-confidence to face any opponent, at any place, and in any 
        situation. Sparring teaches humility, courage, alertness, accuracy and adaptability as well 
        as self-control. Forms teach flexibility, grace, balance, and coordination, while the fundamental 
        exercises develop preciseness and teach method, principle and purpose. Eventually, this training 
        permeates every conscious and subconscious action of the student. Thus, Tae Kwon-Do offers a 
        strict self-imposed discipline along with the spirit of cooperation and mutual respect among 
        other students. Classes are offered to students starting at age 6.
    </div>
    <div class="paragraph">
        <h2>Kickboxing</h2>
            Focus on the four parts of fitness (Balance, Endurance, Flexibility and Strength) through 
            many areas of physical fitness to include animal locomotion, yoga, pilates, kickboxing, 
            and self-defense. Movements include: isometric, passive, dynamic, active, ballistic and 
            PNF. The exercises are joint friendly and can be modified to meet any health or fitness 
            level. Start building your confidence today!
    </div>
    <div class="aside">
        <div>
            <div class="heading">
                Beginning Classes!
            </div>
             <p class="info">Contact me for more information or about taking your FREE introductory class!</p>
    
            <div class="heading">
                Martial Arts Classes
            </div>
            <p class="info">$60/Month - One to Two classes per Week </p>
    
            <div class="heading">
                Kickboxing
            </div>
            <p class="info">$30/Month - One to Two classes per Week</p>
            <div>
            <p class="info"> 10 percent Family Discounts apply!</p> 
            </div>
        </div>
    </div>
</div>
