.cover_image {
    width: 100%;
    /* top: -1px; */
    /* z-index: -1; */
    /* transform: scale(0.9, 0.9); */
    /* margin-top: -50px; */
}

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 275px;
    background-color: black;
    justify-items: center;
    align-items: center;
    margin-top: -5px;
}

/* .chunjido {
    justify-self: center;
} */

.cma .cma_logo {
    height: 250px;
}

.chunjido .chunjido_logo {
    height: 250px;
}

.home_content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #fff;
    /* grid-template-row: 200px; */
    font-family: 'Share';
    gap: 30px;
    margin-bottom: 20px;
}

.content_heading {
    grid-column: 3/6;
    font-size: 35px;
    margin-top: 20px;
}

.content-1 {
    grid-column: 2/4;
    font-size: 20px;
    
}

.content-2 {
    font-size: 20px;
    grid-column: 4/6;
    grid-row: 3;
}

.content-3 {
    font-size: 20px;
    grid-column: 4/6;
    grid-row: 4;
}

.content-4 {
    font-size: 20px;
    grid-column: 2/4;
    grid-row: 5;
}

.content-5 {
    font-size: 20px;
    grid-column: 2/4;
    grid-row: 6;
}

.kick1, .taekwondo_kick1 {
    grid-column: 4;
    grid-row: 2;
    align-self: center;
    justify-self: flex-end;
}

.kick2, .taekwondo_kick2 {
    grid-column: 3;
    grid-row: 4;
    justify-self: flex-start;
    align-self: center;
    height: 225px;

}

.punch1, .taekwondo_punch1 {
    grid-column: 5;
    grid-row: 6;
    align-self: center;
    justify-self: flex-start;
}
