<div class="cover">
    <img class="cover_image" src="assets/images/cma_splits2.jpg" >
</div>

<div class="logos">
    <div class="cma">
        <img class="cma_logo" src="assets/icons/CMA_Fist_Logo_New.png">
    </div>
    <div class="chunjido">
        <img class="chunjido_logo" src="assets/icons/ChunJiDo_logo_Transparent.png"> 
    </div>    
</div>

<div class="home_content">
    <h2 class="content_heading">"We are a family oriented school"</h2>
    <p class="content-1">We want to welcome you to Coffman's Martial Arts Academy! We are proud of our school 
        and want you to come and visit us, because we know that once you do you will join our 
        family of hard working students. We not only teach our students how to defend 
        themselves but we instill into each student respect, self-discipline, and values 
        not only to make our student excel in the dojo but in life.
    </p>
    
    
    <h4 class="content-2">The study of martial arts offers several unique advatages to the physical fitness of the 
        student. The typical training provides the following health benefites:
    </h4>
    <ul class="content-3"><!-- Below is the list tags, edit between the <li> tags. -->
        <li>Helps the lungs operate more efficiently.</li>
        <li>Enlarges the blood vessels, making them more pliable and reducing the resistance to blood flow, this lowering the diastolic blood pressure.</li>
        <li>Increases the blood supply, especially red blood cells and hemoglobin.</li>
        <li>Makes the body tissue healthier by supplyig it with more oxygen.</li>
        <li>Conditions the heart, providing more reserve for emergencies.</li>
        <li>Promotes better sleep and relaxation.</li>
        <li>Provides muscular strength.</li>
        <li>Flexiblity of joints, muscles and ligaments.</li>
    </ul>
    
    <h4 class="content-4">Martial arts offers a super means of developing the characteristics of a good performance in other areas:</h4>
    <ul class="content-5">   <!-- Below is more list tags, edit between the <li> tags. -->
        <li>Dynamic energy-the ability to give 110% for long periods of time.</li>
        <li>Ability to quickly change direcion of movement.</li>
        <li>Ability to control ones limbs with precise movements.</li>
        <li>Excellent peripheral vision.</li>
        <li>The ability to block out and avoid distractions.</li>
        <li>Ability to better control ones behavior and emotions.</li>
        <li>Ability to push oneself further than thought possible.</li>
        <li>The right to be an Individual.</li>
        <li>The importance of teamwork and respect for others.</li>
    </ul>

    <div class="kick1">
        <img class="taekwondo_kick1" src="assets/icons/taekwondo_kick1.png"> 
    </div>
    
    <div class="kick2">
        <img class="taekwondo_kick2" src="assets/icons/taekwondo_kick2.png"> 
    </div>
    
    <div class="punch1">
        <img class="taekwondo_punch2" src="assets/icons/taekwondo_punch1.png"> 
    </div>
</div>
