<div class="container">
    <div class="calendar">
        <iframe src="https://calendar.google.com/calendar/embed?src=coffmanmartialarts%40gmail.com&ctz=America/Chicago" 
            style="border: double" width=100% height="400" frameborder="1" scrolling="no" alt="Calendar" ></iframe>
    </div>
    <div class="paragraph">
        <h3>Missed Classes</h3>
		<p>When a student misses a rank class, that class can be made up during the next open class. When a 
            class is missed, student will have 2 weeks to make up that class.</p>
        <br>
        <h3>Extended Absences</h3>
        <p>When student are going to miss a month or more of classes, arrangements can be made for the 
            contract to be extended accordingly. contracts will not be shortend unless a student has a 
            serious illness or moves.</p>
        <br>
        <h3>Weather/Holidays</h3>
        <p>When public schools are not in session due to weather or holidays, Coffman's Martial Arts 
            will also be closed. However, the Dojo may may be open on some lesser hokidays. In the 
            event of extended school closings due to weather, Coffman's Martial Arts may reopen, 
            road conditions permitting. Emails will be sent concerning reopenings.</p>

    </div>
</div>
